/DotNetBuild.Core/obj
/DotNetBuild.Core/bin
/DotNetBuild.Runner/bin
/DotNetBuild.Runner/obj
/DotNetBuild.Runner.CommandLine/bin
/DotNetBuild.Runner.CommandLine/obj
/DotNetBuild.Tests/bin
/DotNetBuild.Tests/obj
/DotNetBuild.Tests.TestAssembly/bin
/DotNetBuild.Tests.TestAssembly/obj

/DotNetBuild.ncrunchsolution
/DotNetBuild.ncrunchsolution.user
/DotNetBuild.sln.DotSettings
/DotNetBuild.sln.DotSettings.user
/DotNetBuild.v11.suo

/DotNetBuild.Runner.CommandLine/DotNetBuild.Runner.CommandLine.csproj.user
/DotNetBuild.Build/obj
/DotNetBuild.Build/bin
/DotNetBuild.Tasks/obj
/DotNetBuild.Tasks/bin

/DotNetBuild.Tasks/DotNetBuild.Tasks.csproj.user

/DotNetBuild.Build/DotNetBuild.Build.csproj.user
