/DotNetBuild.Build.Compiled.Fluent/obj
/DotNetBuild.Build.Compiled.Fluent/bin
/DotNetBuild.Build.Compiled.Fluent/DotNetBuild.Build.Compiled.Fluent.csproj.user

/DotNetBuild.Build.Compiled.NonFluent/obj
/DotNetBuild.Build.Compiled.NonFluent/bin
/DotNetBuild.Build.Compiled.Fluent/DotNetBuild.Build.Compiled.NonFluent.csproj.user

/DotNetBuild.Core/obj
/DotNetBuild.Core/bin
/DotNetBuild.Core/DotNetBuild.Core.csproj.user

/DotNetBuild.Runner/bin
/DotNetBuild.Runner/obj
/DotNetBuild.Runner/DotNetBuild.Runner.csproj.user

/DotNetBuild.Runner.CommandLine/bin
/DotNetBuild.Runner.CommandLine/obj
/DotNetBuild.Runner.CommandLine/DotNetBuild.Runner.CommandLine.csproj.user

/DotNetBuild.Runner.ScriptCs/obj
/DotNetBuild.Runner.ScriptCs/bin
/DotNetBuild.Runner.ScriptCs/DotNetBuild.Runner.ScriptCs.csproj.user

/DotNetBuild.Tasks/obj
/DotNetBuild.Tasks/bin
/DotNetBuild.Tasks/DotNetBuild.Tasks.csproj.user

/DotNetBuild.Tests/bin
/DotNetBuild.Tests/obj
/DotNetBuild.Tasks/DotNetBuild.Tests.csproj.user

/DotNetBuild.Tests.TestAssembly/bin
/DotNetBuild.Tests.TestAssembly/obj
/DotNetBuild.Tasks/DotNetBuild.Tests.TestAssembly.csproj.user

/DotNetBuild.ncrunchsolution
/DotNetBuild.ncrunchsolution.user
/DotNetBuild.sln.DotSettings
/DotNetBuild.sln.DotSettings.user
/DotNetBuild.v11.suo
/DotNetBuild.v12.suo