/DotNetBuild.Build.Assembly.Fluent/obj
/DotNetBuild.Build.Assembly.Fluent/bin
/DotNetBuild.Build.Assembly.Fluent/DotNetBuild.Build.Assembly.Fluent.csproj.user

/DotNetBuild.Build.Assembly.NonFluent/obj
/DotNetBuild.Build.Assembly.NonFluent/bin
/DotNetBuild.Build.Assembly.Fluent/DotNetBuild.Build.Assembly.NonFluent.csproj.user

/DotNetBuild.Core/obj
/DotNetBuild.Core/bin
/DotNetBuild.Core/DotNetBuild.Core.csproj.user

/DotNetBuild.Runner/bin
/DotNetBuild.Runner/obj
/DotNetBuild.Runner/DotNetBuild.Runner.csproj.user

/DotNetBuild.Runner.Assembly/bin
/DotNetBuild.Runner.Assembly/obj
/DotNetBuild.Runner.Assembly/DotNetBuild.Runner.Assembly.csproj.user

/DotNetBuild.Runner.ScriptCs/obj
/DotNetBuild.Runner.ScriptCs/bin
/DotNetBuild.Runner.ScriptCs/DotNetBuild.Runner.ScriptCs.csproj.user

/DotNetBuild.Tasks/obj
/DotNetBuild.Tasks/bin
/DotNetBuild.Tasks/DotNetBuild.Tasks.csproj.user

/DotNetBuild.Tests/bin
/DotNetBuild.Tests/obj
/DotNetBuild.Tests/DotNetBuild.Tests.csproj.user

/DotNetBuild.Tests.TestAssembly/bin
/DotNetBuild.Tests.TestAssembly/obj
/DotNetBuild.Tests.TestAssembly/DotNetBuild.Tests.TestAssembly.csproj.user

/DotNetBuild.ncrunchsolution
/DotNetBuild.ncrunchsolution.user
/DotNetBuild.sln.DotSettings
/DotNetBuild.sln.DotSettings.user
/DotNetBuild.v11.suo
/DotNetBuild.v12.suo